@use 'variables' as *;
.button {
    @extend %button;
    color: $color-light;
    padding: 4px 8px;
    border-width: 1px;
    &:hover {
        @extend %button-pressed;
        transform: none;
    }
}

@media screen and (max-width: 768px) {
    .button {
        padding: 12px 12px;
        font-size: 18px;
    }
  }