<div class="container">
    <label *ngIf="value?.length" class="container__label">{{ label }}</label>
    <input
        class="container__input"
        (focus)="onTouch()"
        (input)="handleInputChange($event)"
        [placeholder]="label + (isRequired ? '*' : '')"
        [ngClass]="{ 'container__input--error': showError }"
        [required]="isRequired"
        [name]="name ?? label"
        [type]="type"
    >
    <span *ngIf="showError" class="container__error">
        {{ errorMessage | translate }}
    </span>
</div>
