@use 'abstract/colors' as colors;
@use 'abstract/variables' as variables;

.admin-crud {
  &__name {
    font-weight: 600;
    color: colors.$color-text;
  }

  &__links {
    display: flex;
    gap: variables.$space-3;
    margin-bottom: variables.$space-3;
  }

  &__link {
    font-size: variables.$font-size-sm;
    color: colors.$color-accent;
    text-decoration: none;
  }
}
