@use 'variables' as *;

.container {
    width: 100%;
    display: flex;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        &--home {
            padding: 1rem;
        }
    }
    &__home-icon {
        padding-inline: 20px;
    }
    &__title-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        user-select: none;
        letter-spacing: 2px;
        &--logo {
            cursor: pointer;
        }
    }
    &--logo {
        justify-content: center;
    }
    &__title {
        font-size: 26px;
        margin: 0;
        &--logo {
            font-size: 22px;
        }
    }
    &__subtitle {
        font-size: 22px;
        margin: 0;
        &--logo {
            font-size: 18px;
        }
    }
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    align-items: center;
    flex: 0.4;
    gap: 8px;
    @extend %hover-out-icon;
    &__icon {
        user-select: none;
        &--large {
            width: 40px;
        }
        &:hover {
            fill: $color-deep-green;
            @extend %hover-icon;
            cursor: pointer;
        }
    }
    &__button {
        @extend %button;
        @extend %hover-out-icon;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            @extend %button-pressed;
            @extend %hover-icon;
        }
    }
    &__inner {
        background-color: $color-deep-green;
        border: 4px double $color-soft-green;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        padding: 0;
        &__wrapper {
            padding: 1rem;
        }
    }
}