@use 'abstract/colors' as colors;
@use 'abstract/variables' as variables;

.admin-crud {
  &__role {
    font-size: variables.$font-size-base;
    font-weight: 600;
    color: colors.$color-text;
  }

  &__company {
    font-size: variables.$font-size-sm;
    color: colors.$color-text-muted;
  }
}
