<div class="container">
    <label *ngIf="value" class="container__label">{{ label }}</label>
    <textarea
        class="container__input"
        rows="4"
        cols="20"
        (focus)="onTouch()"
        (input)="handleInputChange($event)"
        [placeholder]="label + (isRequired ? '*' : '')"
        [ngClass]="{ 'container__input--error': showError }"
        [required]="isRequired"
        [name]="name ?? label"
    ></textarea>
    <span *ngIf="showError" class="container__error">
        {{ errorMessage | translate }}
    </span>
</div>
