@use 'styles/variables' as *;

body {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Assistant', sans-serif;
    color: $color-coal;
    background-color: $color-light-beige;
    white-space: pre-line;
}