<div class="conainer">
    <div class="container__project" *ngFor="let project of projects">
        <div class="container__header">
            <span class="project__title">
                {{ project.name }}
            </span>
            <custom-button
                [label]="'GitHub'"
                [title]="project.link"
                (click)="openLink(project.link)"
            ></custom-button>
        </div>
        <span class="project__desc">
            {{ project.description }}
        </span>
        <span class="project__skills">
            {{ project.skills.join(', ') }}
        </span>
    </div>
</div>