@use 'abstract/colors' as c;
@use 'abstract/variables' as v;

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  line-height: 1.6;
  color: c.$color-text;
  background-color: c.$color-bg;
}
