@use 'abstract/colors' as colors;
@use 'abstract/variables' as variables;

body {
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  line-height: 1.6;
  color: colors.$color-text;
  background-color: colors.$color-bg;
}
